<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Webmapp 201</title>
      
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/leaflet.css">
        <link rel="stylesheet" href="/static/plugins/L.Control.Zoomslider.css">
        <link rel="stylesheet" href="/static/plugins/L.Control.Sidebar.css">
        <link rel="stylesheet" href="/static/dist/MarkerCluster.css">
        <link rel="stylesheet" href="/static/dist/MarkerCluster.Default.css">
        <link rel="stylesheet" href="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.css" />
      
        <script src="/static/js/jquery-3.6.0.min.js"></script>
        <script src="/static/js/leaflet-src.js"></script>
        <script src="/static/js/turf.min.js"></script>
        <script src="/static/plugins/L.Control.Zoomslider.js"></script>
        <script src="/static/plugins/L.Control.Sidebar.js"></script>
        <script src="/static/js/countries.js"></script>
        <script src="/static/js/swedish_counties.js"></script>
        <script src="/static/js/skepparholmen.js"></script>
        <script src="/static/js/supermarket.js"></script>
        <script src="/static/js/fuel.js"></script>
        <script src="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.js"></script>
        <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    
        <style>
          #mapdiv {
            height: 100vh;
          }
      
          #side-bar {
            position: absolute;
            z-index: 1000;
            background: rgba(255, 255, 255, 0.7);
            padding: 10px;
            right: 0;
            top: 0;
            margin: 10px;
            border-radius: 10px;
            min-height: 200px;
          }
        </style>
      </head>
    <body>
       <div id="mapdiv" class="col-md-9"></div>
       <div id="side-bar" class="col-md-3"><h1>My Map</h1>
            
            <h2>Zoom Functions</h2>
            <button id='btnFalun' class='btn btn-primary btn-block'>ZoomToFalun</button>
            <button id='btnStockholm' class='btn btn-primary btn-block'>ZoomToStockholm</button>
            <hr>
            
            <button id="Task1">Task 1</button>
            <button id="l3">Task 2</button>
            <button id="Task3">Task 3</button>
            <button id="Task4">Task 4</button>
            <button id="Task5">Task 5</button>
            <button id="btnKluster">Task 7</button>
            <hr>
            
            <h3>Task 6 Väder</h3>
            <button id="btnGbgWeather" class="btn btn-info btn-block">Gå till väder Göteborg</button>
            <button id="btnSthlmWeather" class="btn btn-info btn-block">Gå till väder Stockholm Arlanda</button>
            <button id="btnUppsalaWeather" class="btn btn-info btn-block">Gå till väder Uppsala</button>
            <button id="btnFalunWeather" class="btn btn-info btn-block">Gå till väder Falun</button>
            <button id="btnVasterasWeather" class="btn btn-info btn-block">Gå till väder Västerås</button>
            
       </div>

       <div id="sidebar">
        <h1>Skolinfo</h1>
        <div id="school-info">
          <p>Klicka på en skola för att se information här.</p>
        </div>
      </div>
       </div>

       <script>
        var mymap;
        var lyrOSM;
        var ctlZoomslider;
        var ctlSlidebar;
        var countrieslayer;
        var swedishlayer = L.geoJson(swedish_counties);
        var skepparholmen = L.geoJson(skepparholmen);
        
        // Ränsa kartan på allt
        function clearMap() {
            mymap.eachLayer(function (layer) {
                if (layer !== lyrOSM) {
                mymap.removeLayer(layer);
                }
            });
        }

        $(document).ready(function() {
            
            mymap = L.map('mapdiv', {center: [60.48868922712431, 15.421371459960938], zoom: 13});
        
            lyrOSM = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
            mymap.addLayer(lyrOSM);
        
            ctlZoomslider = L.control.zoomslider({position: 'topright'}).addTo(mymap);
            ctlSlidebar = L.control.sidebar('sidebar', {position: 'left'});
            mymap.addControl(ctlSlidebar);
        
            var latlngs = [
                [60.482370725338484, 15.434717248972277],
                [60.484316080102275, 15.441777259162706],
                [60.486972387134756, 15.438435413671698]
            ];
        
            var blackIcon = L.icon({
                iconUrl: '/static/img/map-marker.svg', // FIXAT
                iconSize: [32, 37],
                iconAnchor: [16, 37],
                popupAnchor: [0, -30]
            });
        
            // T1 Point, Line och Polygon med Leflet
            document.getElementById("Task1").addEventListener("click", function(){
                clearMap();
                createPointLinePolygon();
                mymap.flyTo([59.33296041947983, 18.07581915579391], 15);
            });

            // T2 PolylineMeasure för skolor
            document.getElementById("l3").addEventListener('click', function() {
                clearMap();
                loadSchools();
                mymap.flyTo([59.33296041947983, 18.07581915579391], 10);
            });

            // T3 Supermarkets with buffer for 1km
            document.getElementById("Task3").addEventListener('click',function(){
                clearMap();
                createSupermarketBuffers();
                mymap.flyTo([59.86161645180326, 17.636375532000955], 8);
            });
        
            // T4 Hovet Bildoverlay 
            document.getElementById("Task4").addEventListener('click', function () {
                clearMap();
                imageOverlays();
                mymap.flyTo([59.29509272313594, 18.08190939127913], 17);
            });

            // T5 Fuel Clusters
            document.getElementById("Task5").addEventListener('click', function(){
                clearMap();
                fuelCluster();
                mymap.flyTo([59.29509272313594, 18.08190939127913],10)
            });

            // T6 Weather Destinations for 5 citys. SMHI api
            document.getElementById("btnGbgWeather").addEventListener('click', function() {
                clearMap();
                weatherDestinations();
            });

            document.getElementById("btnSthlmWeather").addEventListener('click', function() {
                clearMap();
                weatherDestinations();
            });

            document.getElementById("btnUppsalaWeather").addEventListener('click', function() {
                clearMap();
                weatherDestinations();
            });

            document.getElementById("btnFalunWeather").addEventListener('click', function() {
                clearMap();
                weatherDestinations();
            });

            document.getElementById("btnVasterasWeather").addEventListener('click', function() {
                clearMap();
                weatherDestinations();
            });

            // T7 Kluster för skolor med olika färger
            document.getElementById("btnKluster").addEventListener('click', function(){
                task7Kluster();
            });

            // Zoom function for Stockholm
            document.getElementById("btnStockholm").addEventListener('click', function(){
                zoomFunctionSthlm();
            });

            // Zoom function for Falun
            document.getElementById("btnFalun").addEventListener('click', function(){
                zoomFunctionFalun();
            });
            
        });
        </script>
        <script src="/static/js/zoomFunction.js"></script>
        <script src="/static/js/task1.js"></script>
        <script src="/static/js/task2.js"></script>
        <script src="/static/js/task3.js"></script>
        <script src="/static/js/task4.js"></script>
        <script src="/static/js/task5.js"></script>
        <script src="/static/js/task6.js"></script>
       <script src="/static/js/task7.js"></script>
    </body>
</html>