<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Webmapp 201</title>
      
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/leaflet.css">
        <link rel="stylesheet" href="/static/plugins/L.Control.Zoomslider.css">
        <link rel="stylesheet" href="/static/plugins/L.Control.Sidebar.css">
        <link rel="stylesheet" href="/static/dist/MarkerCluster.css">
        <link rel="stylesheet" href="/static/dist/MarkerCluster.Default.css">
        <link rel="stylesheet" href="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.css" />
      
        <script src="/static/js/jquery-3.6.0.min.js"></script>
        <script src="/static/js/leaflet-src.js"></script>
        <script src="/static/js/turf.min.js"></script>
        <script src="/static/plugins/L.Control.Zoomslider.js"></script>
        <script src="/static/plugins/L.Control.Sidebar.js"></script>
        <script src="/static/js/countries.js"></script>
        <script src="/static/js/swedish_counties.js"></script>
        <script src="/static/js/skepparholmen.js"></script>
        <script src="/static/js/supermarket.js"></script>
        <script src="/static/js/fuel.js"></script>
        <script src="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.js"></script>
        <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    
        <style>
          #mapdiv {
            height: 100vh;
          }
      
          #side-bar {
            position: absolute;
            z-index: 1000;
            background: rgba(255, 255, 255, 0.7);
            padding: 10px;
            right: 0;
            top: 0;
            margin: 10px;
            border-radius: 10px;
            min-height: 200px;
          }
        </style>
      </head>
    <body>
       <div id="mapdiv" class="col-md-9"></div>
       <div id="side-bar" class="col-md-3"><h2>My Map</h2>
            <button id="l1">Skolinfo</button>
            <button id="l2">layer2</button>
            <button id="l3">Task 2 Distans Skolor i Stockholm</button>
            <button id="Task3">Task 3</button>
            <button id='btnFalun' class='btn btn-primary btn-block'>ZoomToFalun</button>
            <button id='btnStockholm' class='btn btn-primary btn-block'>ZoomToStockholm</button>
            <button id='btnHovet' class="btn btn-primary btn-block">ZoomToHovet</button>
            <hr>
            <h3>Väder</h3>
            <button id="btnGbgWeather" class="btn btn-info btn-block">Gå till väder Göteborg</button>
            <button id="btnSthlmWeather" class="btn btn-info btn-block">Gå till väder Stockholm Arlanda</button> <!-- ändrat från Malmö till Kiruna -->
            <button id="btnUppsalaWeather" class="btn btn-info btn-block">Gå till väder Uppsala</button>
            <button id="btnFalunWeather" class="btn btn-info btn-block">Gå till väder Falun</button> <!-- ändrat från Lund till Ljungby -->
            <button id="btnVasterasWeather" class="btn btn-info btn-block">Gå till väder Västerås</button>
            <button id="btnKluster" class="btn btn-info btn-block">Zoom to task 7</button>
       </div>
       <div id="sidebar">
        <h1>Skolinfo</h1>
        <div id="school-info">
          <p>Klicka på en skola för att se information här.</p>
        </div>
      </div>
       </div>
       <script>
        var mymap;
        var lyrOSM;
        var mrkCurrentLocation;
        var ctlZoomslider;
        var ctlSlidebar;
        var countrieslayer;
        var swedishlayer = L.geoJson(swedish_counties);
        var sample = L.geoJson(sample);
        var sample1 = L.geoJson(sample1);
        var skepparholmen = L.geoJson(skepparholmen);
        function clearMap() {
            mymap.eachLayer(function (layer) {
                if (layer !== lyrOSM) {
                mymap.removeLayer(layer);
                }
            });
            }
        $(document).ready(function() {
            
            mymap = L.map('mapdiv', {center: [60.48868922712431, 15.421371459960938], zoom: 13});
        
            lyrOSM = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
            mymap.addLayer(lyrOSM);
        
            ctlZoomslider = L.control.zoomslider({position: 'topright'}).addTo(mymap);
            ctlSlidebar = L.control.sidebar('sidebar', {position: 'left'});
            mymap.addControl(ctlSlidebar);
        
            var latlngs = [
                [60.482370725338484, 15.434717248972277],
                [60.484316080102275, 15.441777259162706],
                [60.486972387134756, 15.438435413671698]
            ];
            var polyline = L.polyline(latlngs, {color: 'red'}).addTo(mymap);
        
            L.control.polylineMeasure().addTo(mymap);
            skepparholmen.addTo(mymap);
        
            var blackIcon = L.icon({
                iconUrl: '/static/img/map-marker.svg', // FIXAT
                iconSize: [32, 37],
                iconAnchor: [16, 37],
                popupAnchor: [0, -30]
            });
        
            // Markers
            var popb = L.marker([60.48868922712431, 15.431371459960938], {icon: blackIcon})
                .addTo(mymap)
                .bindPopup('Intro to Leaflet');
        
            var popf = L.marker([60.605898734439805, 15.628023594617845], {icon: blackIcon})
                .addTo(mymap)
                .bindPopup("<h3>Falun Museum</h3><img src='/static/img/museum.jpg' width='150px'>");
        
            var pops = L.marker([59.32502619101459, 18.07071832838824], {icon: blackIcon})
                .addTo(mymap)
                .bindPopup("Point to Stockholm");
        
            var popNeptuniskolan = L.marker([59.384911471411755, 17.83675616886731], {icon: blackIcon})
                .addTo(mymap)
                .bindPopup("<h3>Neptuniskolan</h3><img src='/static/img/neptuniskolan.jpg' width='150px'>");
        
            var popStockholmUniversitet = L.marker([59.366121405055026, 18.06012909690233], {icon: blackIcon})
                .addTo(mymap)
                .bindPopup("<h3>Stockholms Universitet</h3><img src='/static/img/universitet.jpg' width='150px'>");
        
            var popForsvarsHogskolan = L.marker([59.349072938891425, 18.06914564190444], {icon: blackIcon})
                .addTo(mymap)
                .bindPopup("<h3>Försvarshögskolan</h3><img src='/static/img/Försvarshögskolan.png' width='150px'>");
        
            var popKarolinskaUniversitetet = L.marker([59.21920478627072, 17.93479121886577], {icon: blackIcon})
                .addTo(mymap)
                .bindPopup("<h3>Karolinska Institutet</h3><img src='/static/img/Karolinska universitetet.jpg' width='150px'>");
        
            var popBjörkebyskolan = L.marker([59.398737842997406, 17.849838410067036], {icon: blackIcon})
                .addTo(mymap)
                .bindPopup("<h3>Björkebyskolan</h3><img src='/static/img/björkebyskolan.jpg' width='150px'>");
        
            // Sidebar info när man klickar på skolorna
            popNeptuniskolan.on('click', function() {
                ctlSlidebar.show();
                $("#school-info").html(`
                    <h3>Neptuniskolan</h3>
                    <p>Antal elever: 350</p>
                    <p>Adress: Neptunigatan 12, Järfälla</p>
                    <img src='/static/img/neptuniskolan.jpg' width='200px'>
                `);
            });
        
            popStockholmUniversitet.on('click', function() {
                ctlSlidebar.show();
                $("#school-info").html(`
                    <h3>Stockholms Universitet</h3>
                    <p>Antal studenter: 30 000+</p>
                    <p>Adress: Universitetsvägen 10A, Stockholm</p>
                    <img src='/static/img/universitet.jpg' width='200px'>
                `);
            });
        
            popForsvarsHogskolan.on('click', function() {
                ctlSlidebar.show();
                $("#school-info").html(`
                    <h3>Försvarshögskolan</h3>
                    <p>Fokus: Försvar, säkerhet & krisberedskap</p>
                    <p>Adress: Drottning Kristinas väg 37, Stockholm</p>
                    <img src='/static/img/Försvarshögskolan.png' width='200px'>
                `);
            });
        
            popKarolinskaUniversitetet.on('click', function() {
                ctlSlidebar.show();
                $("#school-info").html(`
                    <h3>Karolinska Institutet</h3>
                    <p>Antal studenter: 6 000+</p>
                    <p>Adress: Nobels väg 6, Solna</p>
                    <img src='/static/img/Karolinska universitetet.jpg' width='200px'>
                `);
            });
        
            popBjörkebyskolan.on('click', function() {
                ctlSlidebar.show();
                $("#school-info").html(`
                    <h3>Björkebyskolan</h3>
                    <p>Antal elever: 450</p>
                    <p>Adress: Björkebyvägen 10, Järfälla</p>
                    <img src='/static/img/björkebyskolan.jpg' width='200px'>
                `);
            });

            // T2 PolylineMeasure för skolor
            document.getElementById("l3").addEventListener('click', function() {
                loadSchoolLines();
            });

            // T3 Supermarkets with buffer for 1km
            document.getElementById("Task3").addEventListener('click',function(){
                createSupermarketBuffers();
            });
        
            // === Task 4: Hovet Bildoverlay ===
            var imageBounds = [[59.29524337663716, 18.08083650768264], [59.294591453048064, 18.08286425761146]];
            var imageOverlay = L.imageOverlay('/static/img/djurgådenhockey.jpg', imageBounds).addTo(mymap);
        
            // === Task 5: Kluster för tankstationer ===
            var fuelCluster = L.markerClusterGroup();
            var fuelLayer = L.geoJSON(fuel, {
                onEachFeature: function(feature, layer) {
                    if (feature.properties && feature.properties.name) {
                        layer.bindPopup(`<b>${feature.properties.name}</b>`);
                    }
                },
                pointToLayer: function(feature, latlng) {
                    return L.marker(latlng);
                }
            });
            fuelCluster.addLayer(fuelLayer);
            mymap.addLayer(fuelCluster);
        
            // === Task 6: Väder från SMHI ===
            const weatherStations = {
                "Göteborg": {id: 98230, coords: [57.7089, 11.9746]},
                "Falun": {id: 97100, coords: [60.6072, 15.6310]},
                "Uppsala": {id: 97510, coords: [59.8586, 17.6389]},
                "Stockholm": {id: 97400, coords: [59.6269, 17.9545]},
                "Västerås": {id: 97400, coords: [59.6099, 16.5448]}
            };
        
            let weatherMarker;
            function goToWeather(cityName) {
                const station = weatherStations[cityName];
                const smhiUrl = `https://opendata-download-metobs.smhi.se/api/version/latest/parameter/1/station/${station.id}/period/latest-hour/data.json`;
        
                fetch(smhiUrl)
                    .then(response => response.json())
                    .then(data => {
                        const temp = data.value[0].value;
                        const time = new Date(data.value[0].date).toLocaleString();
        
                        if (weatherMarker) {
                            mymap.removeLayer(weatherMarker);
                        }
        
                        weatherMarker = L.marker(station.coords)
                            .addTo(mymap)
                            .bindPopup(`<h4>${cityName}</h4><p><strong>${temp}°C</strong></p><p><small>${time}</small></p>`)
                            .openPopup();
        
                        mymap.flyTo(station.coords, 12);
                    })
                    .catch(error => {
                        console.error("Fel vid hämtning av väderdata:", error);
                    });
            }
        
            $("#btnGbgWeather").click(() => { goToWeather("Göteborg"); });
            $("#btnSthlmWeather").click(() => { goToWeather("Stockholm"); });
            $("#btnUppsalaWeather").click(() => { goToWeather("Uppsala"); });
            $("#btnFalunWeather").click(() => { goToWeather("Falun"); });
            $("#btnVasterasWeather").click(() => { goToWeather("Västerås"); });
        
            // Layer toggles
            document.getElementById("l2").addEventListener("click", () => {
                if (mymap.hasLayer(countrieslayer)) {
                    mymap.removeLayer(countrieslayer);
                } else {
                    countrieslayer.addTo(mymap);
                }
            });

            $("#btnFalun").click(() => { mymap.flyTo([60.605866810126194, 15.628008842468262], 17); });
            $("#btnStockholm").click(() => { mymap.flyTo([59.32502619101459, 18.07071832838824], 11); });
            $("#btnHovet").click(() => { mymap.flyTo([59.29509272313594, 18.08190939127913], 17); });
        
            sample1.addTo(mymap);
            var s2 = sample1.toGeoJSON();
            var samplegeo = turf.buffer(s2, 0.5, {units: 'kilometers'});
        
            L.geoJSON(samplegeo, {
                style: {
                    color: 'yellow',
                    dashArray: '5,5',
                    fillOpacity: 0.1
                }
            }).addTo(mymap);
        });
        </script>
        <script src="/static/js/task3.js"></script>
        <script src="/static/js/task2.js"></script>
       <script src="/static/js/task7.js"></script>
    </body>
</html>